.navbar{
    font-size: 13pt;
    font-weight: 500;
}
.navbar-brand strong
{
    font-weight: 800;
}
.navbar-expand-sm .navbar-nav .nav-link
{
    padding-left: 2.2rem;
}
.navbar-brand img
{
    height:40%;
    width:45%;
}