.testimonials-area .container
{
    background-image: url(../../images/quote.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: top right;
}
.testimonials-area .card
{
    border-color: transparent;
}
.testimonials-area .card .card-footer
{
    background: transparent;
    border:0;
}